/* topography */
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-background: #181a1b;
}
::selection {
  /* text selection */
  background: black;
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0 2.5vw;
  background: var(--color-background);
  color: slategrey;
}
h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
  font-weight: bolder;
  text-align: center;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin: 0 0 1rem;
}
select {
}

select {
  color: lightgrey;
  background: var(--color-background);
  padding-right: 3rem;
}

select:focus {
  background: var(--color-background);
}

select[multiple] {
  background: none;
  height: auto;
}

.aura-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.aura-editor__options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.aura-editor__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
